body{
    background-color: rgb(242, 204, 247);
}


div, ol {
    list-style: none;
}

a{
    
}

.resumeDiv{
    background-color: rgb(255, 239, 252);
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    border: 1px;
    border-style: solid;
}

h1{
    display: flex;
    justify-content: center;
}

img {
    width: 12vh;
    height: 15vh;
    margin: 15px;
    border-radius: 50%;
}

h3{
    text-decoration: underline;
}

.skillsDiv{
    margin: 15px;
    padding: 15px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
}

.experienceDiv{   
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    margin: 15px;
}
.educationDiv {
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    margin: 15px;
}